---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE } from "../../consts";
import { getCollection } from "astro:content";
import Navbar from "@/components/Navbar.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={"Blog"} />
  </head>
  <body>
    <Header />
    <Navbar />
    <main>
      <section>
        <div class="blogpostsContainer">
          <ul style=" margin: 0;">
            {
              posts.map((post) => (
                <li>
                  <small class="postDate">
                    {new Date(post.data.pubDate).toLocaleDateString()}
                  </small>
                  <a data-astro-prefetch href={`/blog/${post.slug}/`}>
                    <div class="postInfo">
                      <p class="postTitle">{post.data.title}</p>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </main>
    <style>
      .blogpostsContainer {
        margin: 0 40rem; /* Default for large screens > 1920px */
        padding-top: 4rem;
      }
      .postDate {
        font-family: "Open Sans", sans-serif;
        font-size: 0.8rem;
        margin: 0;
        color: #484848;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }

      ul a {
        text-decoration: none;
      }

      ul a:hover {
        filter: invert(1);
      }

      ul li {
        height: 100%;
        display: block;
        margin-bottom: 1rem;
      }

      .postTitle {
        background-color: black;
        color: floralwhite;
        font-family: "Montserrat", sans-serif;
        font-size: 1.3rem;
        padding: 1rem;
        margin-bottom: 0;
        line-height: 1;
        width: fit-content;
      }

      ul li a {
        position: relative;
      }
      .postInfo {
        mix-blend-mode: exclusion;
        text-align: center;
      }

      .tools {
        margin-top: 1rem;
        color: #fdfefe;
        font-family: "Open Sans", sans-serif;
        margin: 0;
        font-size: 1em;
      }

      /* Standard Desktops / Large Laptops */
      @media (max-width: 1920px) {
        .blogpostsContainer {
          margin: 0 30rem;
        }
      }

      /* Laptops / Large Tablets */
      @media (max-width: 1440px) {
        .blogpostsContainer {
          margin: 0 20rem;
        }
      }

      /* Tablets / Small Laptops */
      @media (max-width: 1024px) {
        .blogpostsContainer {
          margin: 0 10rem;
        }
        ul li {
          margin-bottom: 0; /* Adjust list item margin for smaller screens */
        }
      }

      /* Mobile Devices */
      @media (max-width: 768px) {
        .blogpostsContainer {
          margin: 0 1rem; /* Add a small margin for mobile */
        }
        .postTitle {
          font-size: 1.2rem;
        }
        ul {
          /* Removed grid styles as they might conflict */
          /* grid-template-columns: 1fr; */
          /* grid-gap: 0; */
        }
        ul li {
          margin-bottom: 0.5rem; /* Add some space between items on mobile */
        }
      }
    </style>
  </body>
</html>
