@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.lastfmContainer {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: crosshair;
  user-select: none;
  color: rgba(255, 255, 255, 0.224);
}

.songInfo {
  color: #fdfefe8f;
}

.lastfmContainer p {
  margin: 0;
  padding: 0 !important;
}

.albumCover {
  position: absolute;
  height: 250px;
  width: 250px;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 100;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.522);
}

@media screen and (max-width: 768px) {
  .lastfmContainer {
    display: none;
  }
}
