.youtube-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

.youtube-grid-item {
  position: relative;
  overflow: hidden;
}

.youtube-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(0);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.youtube-grid-item img.loaded {
  opacity: 1;
}

.youtube-grid-item:hover img {
  filter: invert(1);
  opacity: 1;
  transition: filter 0.1s ease-in-out;
  cursor: pointer;
}

.youtube-grid-item h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.youtubeWelcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.youtubeWelcome-content {
  text-align: center;
}

.youtubeWelcome p {
  margin: 0;
  padding: 0;
}

@keyframes glitchEffect {
  0% {

  }
  20% {
    color: #ff00ff;
  }
  40% {
    color: #00ffff;
  }
  60% {
    color: #ffff00;
  }
  80% {
    color: #00ff00;
  }
  100% {
  }
}

.youtubeWelcome {
  margin: 0;
  color: whitesmoke;
}

.youtubeWelcome p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 0 1rem;
  animation: glitchEffect 0.5s infinite;
  text-shadow: 2px 2px #ff0000, -2px -2px #0000ff;
  overflow: hidden;
}

.youtubeWelcome:hover p {
  animation: none;
  transform: none;
  color: inherit;
  text-shadow: none;
}

@media (min-width: 1920px) {
  .youtubeWelcome p {
    font-size: 1.45rem;
  }
}

@media (max-width: 1200px) {
  .youtube-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .youtube-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .youtube-grid {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: auto;
  }

  .youtube-grid-item {
    position: relative;
    /* overflow: visible; */
    aspect-ratio: 1 / 1;
  }

  .youtube-grid-item img {
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .youtubeWelcome {
    order: -1;
    height: auto;
    padding: 5rem 0;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
  }
}