---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import oscar from "@/pages/works/oscar-a-montiel-animanoir-geosmina.jpg";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <div class="container">
      <Image
        height={1024}
        width={720}
        src={oscar}
        alt={"Óscar A. Montiel"}
        quality={"max"}
        class={"heroImage"}
      />
    </div>

    <Footer />
    <style>
      .container {
        padding-top: 5rem;
        padding-bottom: 10rem;
        margin: 0 auto;
        font-family: "Open Sans", sans-serif;
        color: #fdfefe;
        position: relative;
        width: 50%;
      }

      .heroImage {
        width: 100%;
        height: auto;
        text-align: center;
      }

      @media (max-width: 500px) {
        .container {
          width: 100%;
        }
      }
    </style>
  </body>
</html>
