---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../consts";
import Navbar from "@/components/Navbar.astro";
import ModifiedHeader from "@/components/ModifiedHeader.astro";
import AnimanoirReal from "@/components/AnimanoirReal/AnimanoirReal.jsx";
---

<html lang="en">
  <head>
    <BaseHead
      title={"Hola, dicen que soy Óscar"}
      description={SITE_DESCRIPTION}
      image="/images/about/óscar-a-montiel-animanoir-geosmina.jpg"
    />
  </head>

  <body>
    <ModifiedHeader goWild={true} sortSpeed={100.0} />
    <Navbar />
    <div class="container">
      <div class="aboutMe-fiberCanvas">
        <div class="aboutMe-info">
          <p>
            <b>Software developer</b>, multidisciplinary <b
              >visual & sound artist</b
            >—most of the time everything & nothing at once.
          </p>
          <p>
            Absolute <b>philosophy</b> freak—currently reading <a
              href="https://animanoir.notion.site/Mi-biblioteca-digital-06dfea2aa5e048bba145b85d5395c68f"
              target="_blank">these books</a
            >. I do believe nothing we say is real.
          </p>
          <p>
            At the moment working as a <b>front-end developer</b> (it just pays!),
            but always <a href="mailto:etherealflux94@gmail.com">open</a> to actually
            have fun & more money.
          </p>
        </div>
        <AnimanoirReal client:load />
      </div>
    </div>
    <style>
      .container {
        color: #fdfefe;
        display: flex;
        font-family: "Open Sans", sans-serif;
      }

      .aboutMe-info {
        position: absolute;
        top: 55vh;
        left: 2%;
        z-index: 10;
        width: 30%;
        font-size: 1.2rem;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      .aboutMe-fiberCanvas {
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
      }

      .heroImage {
        width: 100%;
        height: auto;
        text-align: center;
        opacity: 0;
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: 2s;
      }

      @media (max-width: 500px) {
        .container {
          width: 100%;
        }
        .aboutMe-info {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 80%;
          text-align: center;
        }
        .aboutMe-fiberCanvas {
          width: 100%;
          height: 100%;
        }
        .heroImage {
          width: 100vw;
          height: 100vh;
          object-fit: cover;
        }
      }

      @media (min-width: 2000px) {
        .aboutMe-info {
          position: absolute;
          top: 65vh;
          left: 2%;
          z-index: 10;
          width: 30%;
          font-size: 1.5rem;
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
      }
    </style>
  </body>
</html>
