---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "@/components/Navbar.astro";
import ModifiedHeader from "@/components/ModifiedHeader.astro";
import gif1 from "@/images/about/oscar-a-montiel.gif";
import { Picture } from "astro:assets";
---

<html lang="en">
  <head>
    <BaseHead
      title="Hola, dicen que soy Óscar"
      description={"About"}
      image="/images/about/óscar-a-montiel-animanoir-geosmina.jpg"
    />
  </head>

  <body>
    <ModifiedHeader goWild={true} sortSpeed={80.0} />
    <Navbar />
    <div class="container">
      <div class="canvas">
        <main class="content">
          <!--           <p>
            <b>Software Engineer</b> by profession—<b
              >Multidisciplinary Media Artist</b
            > by choice. <i>Most of the time everything & nothing at once</i>.
            Just like a poet, I tend to rhyme without knowing. <span
              style="letter-spacing: 1rem;">Unleashed and boundless</span
            >, <b>just like you!</b>
          </p>
          <p style="font-size: 0.8rem;">
            For collaborations, commissions, or <b>just to say hi</b>,
            <a href="mailto:etherealflux94@gmail.com" target="_blank"
              >contact me</a
            >.
          </p>
          -->
          <Picture
            src={gif1}
            alt={"Óscar A. Montiel"}
            class="heroImage"
            formats={["gif"]}
            decoding="async"
            loading="eager"
            quality={100}
          />
          <p style="text-align:center;font-size:2rem;">
            <a
              style="text-decoration: none; color: inherit; display: inline-block; animation: rotate 4s linear infinite;"
              href="https://www.youtube.com/watch?v=mqqx9LCo36Q">☯</a
            >
          </p>
        </main>
      </div>
    </div>

    <style>
      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      .container {
        color: #fdfefe;
        display: flex;
        font-family: "Open Sans", sans-serif;
        justify-content: center;
        min-height: 100vh;
      }

      .canvas {
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
      }

      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 40%;
        z-index: 10;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      .content p {
        font-size: 1.3rem;
        padding: 1rem;
        line-height: 2.3rem;
      }

      @media (max-width: 500px) {
        .content {
          width: 80%;
        }
      }
      @media (max-width: 1920px) {
        .content p {
          font-size: 1rem;
        }
      }
      @media (max-width: 500px) {
        .content {
          width: 90%;
          z-index: 10;
        }
        .heroImage {
          width: 100%;
          top: 50;
          object-fit: cover;
          z-index: -1;
        }
      }
    </style>
  </body>
</html>
