---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../consts";
import Navbar from "@/components/Navbar.astro";
import ModifiedHeader from "@/components/ModifiedHeader.astro";
import MutatingAbout from "@/components/MutatingAbout/MutatingAbout.jsx";
import AboutImageScene from "@/components/AboutImageShader.jsx";
---

<html lang="en">
  <head>
    <BaseHead
      title={"Hola, dicen que soy Óscar"}
      description={SITE_DESCRIPTION}
      image="/images/about/óscar-a-montiel-animanoir-geosmina.jpg"
    />
  </head>

  <body>
    <ModifiedHeader />
    <Navbar />
    <div class="container">
      <div class="about-photo">
        <!-- <Picture
          loading="eager"
          src={oscarImg}
          alt={"Óscar A. Montiel"}
          quality={"high"}
          class={"heroImage"}
          formats={["webp"]}
          decoding="async"
          loading="lazy"
        /> -->
        <AboutImageScene client:only />
      </div>
      <div class="about-info">
        <MutatingAbout client:load />
      </div>
    </div>
    <style>
      .container {
        margin: 0 auto;
        color: #fdfefe;
        position: relative;
        display: flex;
        position: relative;
        font-family: "Open Sans", sans-serif;
      }

      .about-photo {
        width: 40%;
        height: 100%;
        position: fixed;
        overflow: hidden;
      }

      .heroImage {
        width: 100%;
        height: auto;
        text-align: center;
        opacity: 0;
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: 2s;
      }

      @media (max-width: 500px) {
        .container {
          width: 100%;
        }
        .about-photo {
          width: 100%;
          height: 100%;
          position: fixed;
          filter: brightness(0.5);
        }
      }
    </style>
  </body>
</html>
