---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../consts";
import Navbar from "@/components/Navbar.astro";
import ModifiedHeader from "@/components/ModifiedHeader.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="Hola, dicen que soy Óscar"
      description={SITE_DESCRIPTION}
      image="/images/about/óscar-a-montiel-animanoir-geosmina.jpg"
    />
  </head>

  <body>
    <ModifiedHeader goWild={true} sortSpeed={150.0} />
    <Navbar />
    <div class="container">
      <div class="canvas">
        <main class="content">
          <p>
            Programmer, multidisciplinary <b>visual & sound artist</b>. Most of
            the time everything & nothing at once.
          </p>
          <p>
            Proficient in coming up with <b>creative ideas</b> with the adequate
            mediums of expression.
          </p>
          <p><b>And always learning</b>...</p>
          <p>
            For collabarations, commissions, or just to say hi,
            <a href="mailto:etherealflux94@gmail.com" target="_blank"
              >contact me</a
            >.
          </p>
        </main>
      </div>
    </div>

    <style>
      .container {
        color: #fdfefe;
        display: flex;
        font-family: "Open Sans", sans-serif;
        justify-content: center;
        min-height: 100vh;
      }

      .canvas {
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
      }

      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 30%;
        z-index: 10;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      .content p {
        font-size: 1.3rem;
      }

      @media (max-width: 500px) {
        .content {
          width: 80%;
        }
      }
    </style>
  </body>
</html>
