---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Picture } from "astro:assets";
import oscarImg from "@/images/about/oscar-a-montiel-animanoir-geosmina.jpg";
import Navbar from "@/components/Navbar.astro";
import ModifiedHeader from "@/components/ModifiedHeader.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image="/about/óscar-a-montiel-animanoir-geosmina.jpg"
    />
  </head>

  <body>
    <ModifiedHeader />
    <Navbar />
    <div class="container">
      <Picture
        src={oscarImg}
        alt={"Óscar A. Montiel"}
        quality={"high"}
        class={"heroImage"}
        formats={["webp"]}
        decoding="async"
        loading="lazy"
      />
    </div>
    <style>
      .container {
        margin: 0 auto;
        font-family: "Open Sans", sans-serif;
        color: #fdfefe;
        position: relative;
      }

      .heroImage {
        width: 100%;
        height: auto;
        text-align: center;
        opacity: 0;
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: 2s;
      }

      @media (max-width: 500px) {
        .container {
          width: 100%;
        }
      }
    </style>
  </body>
</html>
