---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION } from "../consts";
import Navbar from "@/components/Navbar.astro";
import ModifiedHeader from "@/components/ModifiedHeader.astro";
import MutatingAbout from "@/components/MutatingAbout/MutatingAbout.jsx";
import AnimanoirReal from "@/components/AnimanoirReal/AnimanoirReal.jsx";
import LastFm from "@/components/LastFm.jsx";

// Remove the image imports and randomImage selection
---

<html lang="en">
  <head>
    <BaseHead
      title={"Hola, dicen que soy Óscar"}
      description={SITE_DESCRIPTION}
      image="/images/about/óscar-a-montiel-animanoir-geosmina.jpg"
    />
  </head>

  <body>
    <ModifiedHeader />
    <Navbar />
    <div class="container">
      <div class="about-photo">
        <AnimanoirReal client:load />
      </div>
    </div>
    <style>
      .container {
        color: #fdfefe;
        display: flex;
        font-family: "Open Sans", sans-serif;
      }

      .about-photo {
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;
      }

      .heroImage {
        width: 100%;
        height: auto;
        text-align: center;
        opacity: 0;
        animation: fadeIn ease-in 1;
        animation-fill-mode: forwards;
        animation-duration: 2s;
      }

      @media (max-width: 500px) {
        .container {
          width: 100%;
        }
        .about-info {
          margin-top: 0;
        }
        .about-photo {
          width: 100%;
          height: 100%;
          filter: brightness(0.5);
        }
        .heroImage {
          width: 100vw;
          height: 100vh;
          object-fit: cover;
        }
      }
    </style>
  </body>
</html>