---
import { YouTubeGrid } from "@/components/YouTubeGrid/YoutubeGrid.jsx";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Navbar from "@/components/Navbar.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title={"A/Visuals by Óscar A. Montiel"}
      description={"Animations & A/Visual art."}
      image="/images/oscar-a-montiel-avisuals.jpg"
    />
  </head>
  <body>
    <Header />
    <Navbar />
    <main>
      <YouTubeGrid client:load count={20} />
      <div class="avisualText">
        <p>
          Visual work I do. <a
            href="https://www.youtube.com/@animanoir"
            target="_blank">Full gallery</a
          >.
        </p>
      </div>
    </main>
  </body><style>
    .avisualText {
      display: flex;
      position: absolute;
      text-align: center;
      font-size: 5rem;
      color: #fdfefe;
      font-family: "Montserrat", sans-serif;
    }

    .avisualText p {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow: hidden;
      rotate: 180deg;
    }
  </style>
</html>
