---
import HeaderLink from "./HeaderLink.astro";
---

<navbar>
  <nav class="navbar">
    <HeaderLink href="/works">Works</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink target="_blank" href="https://linktr.ee/animanoir">
      Contact
    </HeaderLink>
  </nav>
</navbar>

<style>
  .navbar {
    display: flex;
    flex-direction: row;
    font-family: "Open Sans", sans-serif;
  }

  .navbar a {
    color: #fdfefe;
    font-size: 1.1rem;
  }

  .navbar a:hover {
    color: red;
  }

  .navbar a:not(:last-child) {
    margin-right: 1rem;
  }

  @media (max-width: 500px) {
    .navbar a:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
</style>
