---
import HeaderLink from "@/components/HeaderLink.astro";
import { ViewTransitions } from "astro:transitions";

const links = [
  { href: "/about", label: "About", target: "_self" },
  { href: "/blog", label: "Blog", target: "_self" },
  { href: "/works", label: "Works", target: "_self" },
  {
    href: "/cv/Óscar-A-Montiel-CV-2024-a.pdf",
    label: "C.V.",
    target: "_blank",
  },
  { href: "https://linktr.ee/animanoir", label: "Contact", target: "_blank" },
];
---

<nav class="navbar" role="navigation">
  {
    links.map((link) => (
      <HeaderLink href={link.href} target={link.target}>
        {link.label}
      </HeaderLink>
    ))
  }
  <ViewTransitions />
</nav>

<!-- <script>
  document.addEventListener("DOMContentLoaded", function () {
    document.addEventListener("keydown", function (event) {
      switch (event.key) {
        case "1":
          window.location.href = "/works";
          break;
        case "2":
          window.location.href = "/about";
          break;
        case "3":
          window.open("https://linktr.ee/animanoir", "_blank");
          break;
        case "4":
          window.open(
            "https://docs.google.com/document/d/1eRrPHNTb1v8pJ_SRjGBlDHOacGh0484sESKHYx9onu4/edit?usp=sharing",
            "_blank"
          );
          break;
      }
    });
  });
</script> -->

<style>
  :root {
    --text-color: #fdfefe;
    --hover-color: #ee5858;
    --font-size: 1rem;
    --margin-horizontal: 1rem;
    --margin-vertical: 1rem;
    --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.475);
  }

  .navbar,
  .navbar a {
    text-shadow: var(--text-shadow);
  }

  .navbar {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 1rem;
    padding-right: 1rem;
    z-index: 1000;
  }

  .navbar a {
    color: var(--text-color);
    font-size: var(--font-size);
  }

  .navbar a:hover {
    color: var(--hover-color);
  }

  .navbar a:not(:last-child) {
    margin-right: var(--margin-horizontal);
  }

  @media (max-width: 500px) {
    .navbar {
      flex-direction: column;
      padding-bottom: 0;
      padding-right: 0;
      align-items: flex-end;
    }
    .navbar a:not(:last-child) {
      margin-bottom: 0;
    }
  }
</style>
