---
import HeaderLink from "@/components/HeaderLink.astro";
import { ClientRouter } from "astro:transitions";

const links = [
  { href: "/works", label: "Works", target: "_self" },
  { href: "/aboutMe", label: "About", target: "_self" },
  { href: "/blog", label: "Blog", target: "_self" },
  {
    href: "/cv/OAM-CV-2025-3D_Game_Front-End Developer-v6.pdf",
    label: "C.V.",
    target: "_blank",
  },
  { href: "https://linktr.ee/animanoir", label: "Contact", target: "_blank" },
];
---

<nav class="navbar" role="navigation">
  <div class="nav-links">
    {
      links.map((link) => (
        <HeaderLink href={link.href} target={link.target}>
          {link.label}
        </HeaderLink>
      ))
    }
  </div>
  <ClientRouter />
</nav>

<style>
  :root {
    --text-color: #fdfefe;
    --hover-color: #ee5858;
    --font-size: 1rem;
    --margin-horizontal: 1rem;
    --margin-vertical: 1rem;
    --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.475);
    --transition-speed: 0.3s;
    --bg-color: rgba(6, 6, 6, 0.95);
  }

  .navbar,
  .navbar a {
    text-shadow: var(--text-shadow);
  }

  .navbar {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    z-index: 1000;
    /* margin-top: 1rem; */
  }

  .navbar a {
    color: var(--text-color);
    font-size: var(--font-size);
  }

  .navbar a:hover {
    color: var(--hover-color);
  }

  .navbar a:not(:last-child) {
    margin-right: var(--margin-horizontal);
  }
</style>
