---
import HeaderLink from "./HeaderLink.astro";
import { ViewTransitions } from "astro:transitions";

const links = [
  { href: "/works", label: "Works", target: "_self" },
  { href: "/about", label: "About", target: "_self" },
  { href: "https://linktr.ee/animanoir", label: "Contact", target: "_blank" },
];
---

<navbar>
  <nav class="navbar">
    {
      links.map((link) => (
        <HeaderLink href={link.href} target={link.target}>
          {link.label}
        </HeaderLink>
      ))
    }
  </nav>
  <ViewTransitions />
</navbar>

<script>
  document.addEventListener("keydown", function (event) {
    if (event.key === "1") {
      window.location.href = "/works";
    } else if (event.key === "2") {
      window.location.href = "/about";
    } else if (event.key === "3") {
      window.open("https://linktr.ee/animanoir", "_blank");
    }
  });
</script>

<style>
  :root {
    --text-color: #fdfefe;
    --hover-color: red;
    --font-size: 1rem;
    --margin-horizontal: 1rem;
    --margin-vertical: 1rem;
  }

  .navbar {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 1rem;
    padding-right: 1rem;
    z-index: 1000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.475);
  }

  .navbar a {
    color: var(--text-color);
    font-size: var(--font-size);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.475);
  }

  .navbar a:hover {
    color: var(--hover-color);
  }

  .navbar a:not(:last-child) {
    margin-right: var(--margin-horizontal);
  }

  @media (max-width: 500px) {
    .navbar a:not(:last-child) {
      margin-bottom: var(--margin-vertical);
    }
  }
</style>
