.about-info {
  width: 100%;
  height: 100%;
  padding-left: 40%;
}

.about-info-inner {
  height: 100vh;
}

.about-info-inner p {
  font-size: 2rem;
  line-height: 1.2;
}

.about-info small {
  display: block;
  margin-top: 20px;
  font-size: 0.7rem;
  margin-bottom: 10rem;
}


@media (max-width: 768px) {
  .about-info {
    width: 90%;
    z-index: 1;
    padding-left: 0;
    padding-top: 10%;
    padding-bottom: 50%;
  }

  .about-info h1 {
    font-size: 1.5rem;
  }

}