---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import ModifiedHeader from "../components/ModifiedHeader.astro";
import Footer from "@/components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, summary, pubDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={`${title} by Óscar A. Montiel | Interactive Media Developer`}
      description={summary ?? "Blog post by Óscar A. Montiel."}
      image={heroImage}
    />
  </head>
  <body>
    <ModifiedHeader />
    <article class="articleContainer">
      <div class="articleBody">
        <h1 class="title">{title}</h1>
        <h2 class="summary">{summary}</h2>
        <p class="postDate">
          {new Date(pubDate).toLocaleDateString()}
        </p>
        <slot />
      </div>
    </article>
    <Footer />
    <style>
      :root {
        --font-montserrat: "Montserrat", sans-serif;
        --font-open-sans: "Open Sans", sans-serif;
        --color-light: #fdfefe;
        --color-light-faded: #fdfefe7f;
        --color-gray: #999;
        --font-size-small: 0.7rem;
        --font-size-large: 3rem;
        --font-size-medium: 1.0rem;
        --line-height-heading: 1.2;
      }

      .postDate,
      .tools,
      .articleBody {
        font-family: var(--font-open-sans);
      }

      .postDate {
        font-size: var(--font-size-small);
        margin: 0 0 0 auto;
        color: var(--color-gray);
        text-align: right;
        padding: 0;
      }

      .title {
        margin: 0;
        padding: 4rem 0 1rem;
        font-size: var(--font-size-large);
        text-align: start;
        font-family: var(--font-montserrat);
        line-height: var(--line-height-heading);
      }

      .summary {
        font-size: var(--font-size-summary);
        color: var(--color-light-faded);
        margin: 1rem 0;
        padding: 0 1rem;
        font-weight: normal;
        text-align: start;
        font-family: var(--font-open-sans);
      }

      .tools {
        display: block;
        text-align: center;
        font-size: var(--font-size-small);
        color: var(--color-light-faded);
        padding-bottom: 2rem;
        font-style: italic;
      }

      .articleContainer {
        padding-bottom: 5rem;
        margin: 0 auto;
        position: relative;
        max-width: 50%;
      }

      .articleBody {
        color: var(--color-light);
        padding: 0 5rem;
        font-size: var(--font-size-medium);
      }

      .articleBody p {
        margin-bottom: 1.1rem;
      }

      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }

      @media (max-width: 768px) {
        .title {
          font-size: 2.5rem;
          text-align: center;
        }
        .articleContainer {
          width: 90%;
        }
        .articleBody {
          padding: 0 1rem;
          font-size: large;
          padding-bottom: 50%;
        }
      }
      @media (max-width: 1360px) {
        .articleBody {
          padding: 0 !important;
        }
      }
    </style>
  </body>
</html>
