---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import { SITE_TITLE, SITE_SUBTITLE } from "@/consts";
import SceneIndex from "@/components/3DIndex/SceneIndex.jsx";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_SUBTITLE}
      image="/animanoir-oscar-a-montiel-tw.jpg"
      type="website"
    />
  </head>
  <body>
    <SceneIndex client:idle />
    <Header title={SITE_TITLE} />
  </body>
</html>
