---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import SceneIndex from "@/components/3DIndex/SceneIndex.jsx";
import Navbar from "@/components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image="/animanoir-oscar-a-montiel-tw.jpg"
    />
  </head>
  <body>
    <SceneIndex client:load />
    <div id="mainFrame">
      <Header title={SITE_TITLE} />
      <Navbar />
    </div>
  </body>
</html>
